* text=auto !eol
.coin-or/projDesc.xml -text
/AUTHORS -text
Creme/LICENSE -text
Creme/Makefile.am -text
Creme/Makefile.in -text
Creme/acinclude.m4 -text
Creme/aclocal.m4 -text
Creme/configure -text
Creme/configure.ac -text
Creme/creme-uninstalled.pc.in -text
Creme/creme.pc.in -text
Creme/data/acyclic/ac-500-0.bz2 -text
Creme/data/acyclic/ac-500-12500.bz2 -text
Creme/data/acyclic/ac-500-25000.bz2 -text
Creme/data/acyclic/ac-500-37500.bz2 -text
Creme/data/acyclic/ac-500-6250.bz2 -text
Creme/data/acyclic/ac-500-62500.bz2 -text
Creme/data/acyclic/ac-500-93750.bz2 -text
Creme/data/discrAnalysis/BCW367.bz2 -text
Creme/data/discrAnalysis/BCW683.bz2 -text
Creme/data/discrAnalysis/OpelSaab76.bz2 -text
Creme/data/discrAnalysis/OpelSaab80.bz2 -text
Creme/data/discrAnalysis/OpelSaab84.bz2 -text
Creme/data/discrAnalysis/Solar-flare1066.bz2 -text
Creme/data/discrAnalysis/Solar-flare323.bz2 -text
Creme/data/discrAnalysis/WPBC194.bz2 -text
Creme/data/discrAnalysis/balloons76.bz2 -text
Creme/data/discrAnalysis/breast-cancer-2.bz2 -text
Creme/data/discrAnalysis/breast-cancer-400.bz2 -text
Creme/data/discrAnalysis/breast-cancer-400.sav.bz2 -text
Creme/data/discrAnalysis/bridges-132.bz2 -text
Creme/data/discrAnalysis/busvan-437.bz2 -text
Creme/data/discrAnalysis/busvan-445.bz2 -text
Creme/data/discrAnalysis/busvan-447.bz2 -text
Creme/data/discrAnalysis/bv-os282.bz2 -text
Creme/data/discrAnalysis/bv-os376.bz2 -text
Creme/data/discrAnalysis/chorales-107.bz2 -text
Creme/data/discrAnalysis/chorales-116.bz2 -text
Creme/data/discrAnalysis/chorales134.bz2 -text
Creme/data/discrAnalysis/credit_300.bz2 -text
Creme/data/discrAnalysis/flag-169.bz2 -text
Creme/data/discrAnalysis/glass-163.bz2 -text
Creme/data/discrAnalysis/horse-colic-151.bz2 -text
Creme/data/discrAnalysis/horse-colic-185.bz2 -text
Creme/data/discrAnalysis/horse-colic-253.bz2 -text
Creme/data/discrAnalysis/house-votes84-435.bz2 -text
Creme/data/discrAnalysis/iris-150.bz2 -text
Creme/data/discrAnalysis/lymphography142.bz2 -text
Creme/data/discrAnalysis/me_an_107.bz2 -text
Creme/data/discrAnalysis/me_an_137.bz2 -text
Creme/data/discrAnalysis/me_an_152.bz2 -text
Creme/data/discrAnalysis/monks-train-124.bz2 -text
Creme/data/discrAnalysis/monks-train115.bz2 -text
Creme/data/discrAnalysis/monks-train122.bz2 -text
Creme/data/discrAnalysis/opelsaab-83.bz2 -text
Creme/data/discrAnalysis/pageblocks-198.bz2 -text
Creme/data/discrAnalysis/pageblocks_277.bz2 -text
Creme/data/discrAnalysis/pageblocks_444.bz2 -text
Creme/data/discrAnalysis/post-operative-88.bz2 -text
Creme/data/discrAnalysis/water-treatment206.bz2 -text
Creme/data/discrAnalysis/water-treatment213.bz2 -text
Creme/data/format.txt -text
Creme/data/netlib/bgdbg1.bz2 -text
Creme/data/netlib/bgetam.bz2 -text
Creme/data/netlib/bgindy.bz2 -text
Creme/data/netlib/bgprtr.bz2 -text
Creme/data/netlib/box1.bz2 -text
Creme/data/netlib/ceria3d.bz2 -text
Creme/data/netlib/chemcom.bz2 -text
Creme/data/netlib/cplex1.bz2 -text
Creme/data/netlib/cplex2.bz2 -text
Creme/data/netlib/ex72a.bz2 -text
Creme/data/netlib/ex73a.bz2 -text
Creme/data/netlib/forest6.bz2 -text
Creme/data/netlib/galenet.bz2 -text
Creme/data/netlib/gran.bz2 -text
Creme/data/netlib/greenbea.bz2 -text
Creme/data/netlib/itest2.bz2 -text
Creme/data/netlib/itest6.bz2 -text
Creme/data/netlib/klein1.bz2 -text
Creme/data/netlib/klein2.bz2 -text
Creme/data/netlib/klein3.bz2 -text
Creme/data/netlib/mondou2.bz2 -text
Creme/data/netlib/pilot4i.bz2 -text
Creme/data/netlib/qual.bz2 -text
Creme/data/netlib/reactor.bz2 -text
Creme/data/netlib/refinery.bz2 -text
Creme/data/netlib/vol1.bz2 -text
Creme/data/netlib/woodinfe.bz2 -text
Creme/data/random/prob.10.30.100.0.bz2 -text
Creme/data/random/prob.10.30.100.1.bz2 -text
Creme/data/random/prob.10.30.100.2.bz2 -text
Creme/data/random/prob.10.30.100.3.bz2 -text
Creme/data/random/prob.10.30.100.4.bz2 -text
Creme/data/random/prob.10.40.100.0.bz2 -text
Creme/data/random/prob.10.40.100.1.bz2 -text
Creme/data/random/prob.10.40.100.2.bz2 -text
Creme/data/random/prob.10.40.100.3.bz2 -text
Creme/data/random/prob.10.40.100.4.bz2 -text
Creme/data/random/prob.10.50.100.0.bz2 -text
Creme/data/random/prob.10.50.100.1.bz2 -text
Creme/data/random/prob.10.50.100.2.bz2 -text
Creme/data/random/prob.10.50.100.3.bz2 -text
Creme/data/random/prob.10.50.100.4.bz2 -text
Creme/data/random/prob.10.60.100.0.bz2 -text
Creme/data/random/prob.10.60.100.1.bz2 -text
Creme/data/random/prob.10.60.100.2.bz2 -text
Creme/data/random/prob.10.60.100.3.bz2 -text
Creme/data/random/prob.10.60.100.4.bz2 -text
Creme/data/random/prob.10.70.100.0.bz2 -text
Creme/data/random/prob.10.70.100.1.bz2 -text
Creme/data/random/prob.10.70.100.2.bz2 -text
Creme/data/random/prob.10.70.100.3.bz2 -text
Creme/data/random/prob.10.70.100.4.bz2 -text
Creme/data/random/prob.10.80.100.0.bz2 -text
Creme/data/random/prob.10.80.100.1.bz2 -text
Creme/data/random/prob.10.80.100.2.bz2 -text
Creme/data/random/prob.10.80.100.3.bz2 -text
Creme/data/random/prob.10.80.100.4.bz2 -text
Creme/data/random/prob.10.90.100.0.bz2 -text
Creme/data/random/prob.10.90.100.1.bz2 -text
Creme/data/random/prob.10.90.100.2.bz2 -text
Creme/data/random/prob.10.90.100.3.bz2 -text
Creme/data/random/prob.10.90.100.4.bz2 -text
Creme/data/random/prob.15.40.100.1.bz2 -text
Creme/data/random/prob.15.40.100.2.bz2 -text
Creme/data/random/prob.15.40.100.3.bz2 -text
Creme/data/random/prob.15.40.100.4.bz2 -text
Creme/data/random/prob.15.40.100.5.bz2 -text
Creme/data/random/prob.15.50.100.0.bz2 -text
Creme/data/random/prob.15.50.100.1.bz2 -text
Creme/data/random/prob.15.50.100.2.bz2 -text
Creme/data/random/prob.15.50.100.3.bz2 -text
Creme/data/random/prob.15.50.100.4.bz2 -text
Creme/data/random/prob.15.60.100.0.bz2 -text
Creme/data/random/prob.15.60.100.1.bz2 -text
Creme/data/random/prob.15.60.100.2.bz2 -text
Creme/data/random/prob.15.60.100.3.bz2 -text
Creme/data/random/prob.15.60.100.4.bz2 -text
Creme/data/random/prob.15.70.100.0.bz2 -text
Creme/data/random/prob.15.70.100.1.bz2 -text
Creme/data/random/prob.15.70.100.2.bz2 -text
Creme/data/random/prob.15.70.100.3.bz2 -text
Creme/data/random/prob.15.70.100.4.bz2 -text
Creme/data/random/prob.15.80.100.0.bz2 -text
Creme/data/random/prob.15.80.100.1.bz2 -text
Creme/data/random/prob.15.80.100.2.bz2 -text
Creme/data/random/prob.15.80.100.3.bz2 -text
Creme/data/random/prob.15.80.100.4.bz2 -text
Creme/data/random/prob.15.90.100.0.bz2 -text
Creme/data/random/prob.15.90.100.1.bz2 -text
Creme/data/random/prob.15.90.100.2.bz2 -text
Creme/data/random/prob.15.90.100.3.bz2 -text
Creme/data/random/prob.15.90.100.4.bz2 -text
Creme/data/random/prob.20.50.100.0.bz2 -text
Creme/data/random/prob.20.50.100.1.bz2 -text
Creme/data/random/prob.20.50.100.2.bz2 -text
Creme/data/random/prob.20.50.100.3.bz2 -text
Creme/data/random/prob.20.50.100.4.bz2 -text
Creme/data/random/prob.20.60.100.0.bz2 -text
Creme/data/random/prob.20.60.100.1.bz2 -text
Creme/data/random/prob.20.60.100.2.bz2 -text
Creme/data/random/prob.20.60.100.3.bz2 -text
Creme/data/random/prob.20.60.100.4.bz2 -text
Creme/data/random/prob.20.70.100.0.bz2 -text
Creme/data/random/prob.20.70.100.1.bz2 -text
Creme/data/random/prob.20.70.100.2.bz2 -text
Creme/data/random/prob.20.70.100.3.bz2 -text
Creme/data/random/prob.20.70.100.4.bz2 -text
Creme/data/random/prob.20.80.100.0.bz2 -text
Creme/data/random/prob.20.80.100.1.bz2 -text
Creme/data/random/prob.20.80.100.2.bz2 -text
Creme/data/random/prob.20.80.100.3.bz2 -text
Creme/data/random/prob.20.80.100.4.bz2 -text
Creme/data/random/prob.20.90.100.0.bz2 -text
Creme/data/random/prob.20.90.100.1.bz2 -text
Creme/data/random/prob.20.90.100.2.bz2 -text
Creme/data/random/prob.20.90.100.3.bz2 -text
Creme/data/random/prob.20.90.100.4.bz2 -text
Creme/data/random/prob.25.80.100.0.bz2 -text
Creme/data/random/prob.25.90.100.0.bz2 -text
Creme/data/random/prob.5.030.100.0.bz2 -text
Creme/data/random/prob.5.030.100.1.bz2 -text
Creme/data/random/prob.5.030.100.2.bz2 -text
Creme/data/random/prob.5.030.100.3.bz2 -text
Creme/data/random/prob.5.030.100.4.bz2 -text
Creme/data/random/prob.5.040.100.0.bz2 -text
Creme/data/random/prob.5.040.100.1.bz2 -text
Creme/data/random/prob.5.040.100.2.bz2 -text
Creme/data/random/prob.5.040.100.3.bz2 -text
Creme/data/random/prob.5.040.100.4.bz2 -text
Creme/data/random/prob.5.050.100.0.bz2 -text
Creme/data/random/prob.5.050.100.1.bz2 -text
Creme/data/random/prob.5.050.100.2.bz2 -text
Creme/data/random/prob.5.050.100.3.bz2 -text
Creme/data/random/prob.5.050.100.4.bz2 -text
Creme/data/random/prob.5.060.100.0.bz2 -text
Creme/data/random/prob.5.060.100.1.bz2 -text
Creme/data/random/prob.5.060.100.2.bz2 -text
Creme/data/random/prob.5.060.100.3.bz2 -text
Creme/data/random/prob.5.060.100.4.bz2 -text
Creme/data/random/prob.5.070.100.0.bz2 -text
Creme/data/random/prob.5.070.100.1.bz2 -text
Creme/data/random/prob.5.070.100.2.bz2 -text
Creme/data/random/prob.5.070.100.3.bz2 -text
Creme/data/random/prob.5.070.100.4.bz2 -text
Creme/data/random/prob.5.080.100.0.bz2 -text
Creme/data/random/prob.5.080.100.1.bz2 -text
Creme/data/random/prob.5.080.100.2.bz2 -text
Creme/data/random/prob.5.080.100.3.bz2 -text
Creme/data/random/prob.5.080.100.4.bz2 -text
Creme/data/random/prob.5.090.100.0.bz2 -text
Creme/data/random/prob.5.090.100.1.bz2 -text
Creme/data/random/prob.5.090.100.2.bz2 -text
Creme/data/random/prob.5.090.100.3.bz2 -text
Creme/data/random/prob.5.090.100.4.bz2 -text
Creme/data/random/prob.5.100.100.0.bz2 -text
Creme/data/random/prob.5.100.100.1.bz2 -text
Creme/data/random/prob.5.100.100.2.bz2 -text
Creme/data/random/prob.5.100.100.3.bz2 -text
Creme/data/random/prob.5.100.100.4.bz2 -text
Creme/data/random/prob.5.110.100.0.bz2 -text
Creme/data/random/prob.5.110.100.1.bz2 -text
Creme/data/random/prob.5.110.100.2.bz2 -text
Creme/data/random/prob.5.110.100.3.bz2 -text
Creme/data/random/prob.5.110.100.4.bz2 -text
Creme/inc/config_creme.h.in -text
Creme/src/Base/LICENSE -text
Creme/src/Base/Makefile.am -text
Creme/src/Base/Makefile.in -text
Creme/src/Base/chooseblock.c -text
Creme/src/Base/chooseblock.h -text
Creme/src/Base/cmdline.c -text
Creme/src/Base/cmdline.h -text
Creme/src/Base/config.h.in -text
Creme/src/Base/config_creme.h.in -text
Creme/src/Base/init.c -text
Creme/src/Base/init.h -text
Creme/src/Base/isfeas.c -text
Creme/src/Base/isfeas.h -text
Creme/src/Base/linopt.c -text
Creme/src/Base/linopt.h -text
Creme/src/Base/locsrch.c -text
Creme/src/Base/locsrch.h -text
Creme/src/Base/lpio.c -text
Creme/src/Base/lpio.h -text
Creme/src/Base/main.c -text
Creme/src/Base/misc.c -text
Creme/src/Base/misc.h -text
Creme/src/Base/move.c -text
Creme/src/Base/move.h -text
Creme/src/Base/readbz.c -text
Creme/src/Base/rtr.c -text
Creme/src/Base/rtr.h -text
Creme/src/Base/sparse.h -text
Creme/src/Base/writeLP.c -text
Creme/src/Base/writeLp.c -text
Creme/src/Base/writelp.c -text
Creme/src/Base/writelp.h -text
Creme/src/LICENSE -text
Creme/test/Makefile.am -text
Creme/test/Makefile.in -text
Creme/test/data/horse-colic-151.bz2 -text
Creme/test/data/iris-150.bz2 -text
Creme/test/data/prob.5.110.100.0.bz2 -text
Creme/test/data/prob.5.110.100.1.bz2 -text
Creme/test/data/prob.5.110.100.2.bz2 -text
Creme/test/data/prob.5.110.100.3.bz2 -text
Creme/test/data/prob.5.110.100.4.bz2 -text
Creme/test/data/refinery.bz2 -text
Creme/test/data/water-treatment206.bz2 -text
Creme/test/grandTest.sh.in -text
/Dependencies -text
/Externals -text
/Externals.releases -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/acinclude.m4 -text
/aclocal.m4 -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
